<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="/images/monkey.jpg" alt="小猴子">
      <div class="caption">
        <h3>小猴子</h3>
        <p>About some of the features of the monkey species, such as many new world monkeys will has tangled curly tail, so when they climb trees can to catch up to the branches of the tree, instead of Old World monkeys is neither bound volumes of the tail, but the smaller the nostril and the distance between the nostrils is nearly, part of the back part of the crusty, as embedded in the seat cushion like; part like human color vision; the other is dichromatic or monochromatic vision.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="/images/monkey.jpg" alt="小猴子">
      <div class="caption">
        <h3>小猴子</h3>
        <p>About some of the features of the monkey species, such as many new world monkeys will has tangled curly tail, so when they climb trees can to catch up to the branches of the tree, instead of Old World monkeys is neither bound volumes of the tail, but the smaller the nostril and the distance between the nostrils is nearly, part of the back part of the crusty, as embedded in the seat cushion like; part like human color vision; the other is dichromatic or monochromatic vision.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="/images/monkey.jpg" alt="小猴子">
      <div class="caption">
        <h3>小猴子</h3>
        <p class="description">About some of the features of the monkey species, such as many new world monkeys will has tangled curly tail, so when they climb trees can to catch up to the branches of the tree, instead of Old World monkeys is neither bound volumes of the tail, but the smaller the nostril and the distance between the nostrils is nearly, part of the back part of the crusty, as embedded in the seat cushion like; part like human color vision; the other is dichromatic or monochromatic vision.</p>
        <div class="clearfix">
            <div class="price pull-left">120元</div>
            <a href="#" class="btn btn-success pull-right" role="button">
                <i class="glyphicon glyphicon-shopping-cart"></i>
                添加到购物车
            </a>
        </div>
      </div>
    </div>
  </div>

</div>
