body {
    margin:0;
    padding: 0;
    font-family: "microsoft Yahei";
}

.thumbnail img{
    max-height:150px;
}

.thumbnail .description{
    color: dodgerblue;
}

.price{
    font-weight:blod;
    font-size:1.15em;
}
